/* Color Palette */
    $color-red: #F69C9E;
    $color-yellow: #FFEED9;
    $color-green: #97E3C2;
    $color-blue-light: #AAD2EC;
    $color-blue: #99C3EC;

/* General styles */
    $radius: 15px;
    $app-width: 600px;
